Lenguaje_de_Marcas/Ejercicios/UT_4/Ejercicios/Ejercicio_3_DTD/factura.dtd

<!ELEMENT factura (datos_emisor,datos_cliente,detalle_factura)>
<!ELEMENT datos_emisor (nombre,cif,telefono)>
<!ELEMENT datos_cliente (nombre,cif,telefono)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT cif (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT detalle_factura ((cod_art,tipo,descripcion,cantidad,oferta,pvp)+,importe)>
<!ELEMENT cod_art (#PCDATA)>
<!ELEMENT tipo (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT cantidad (#PCDATA)>
<!ELEMENT oferta (#PCDATA)>
<!ELEMENT pvp (#PCDATA)>
<!ATTLIST pvp moneda CDATA "euro">
<!ELEMENT importe (#PCDATA)>
<!ATTLIST importe moneda CDATA "euro">