Lenguaje_de_Marcas/Ejercicios/UT_4/Ejercicios/Ejercicio_2_XSD/reservas_vuelos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="reservas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reserva" maxOccurs="unbounded" minOccurs="1">
                    <xs:complexType>
                            <xs:sequence>
                                <xs:element name="cliente">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="nombre" type="xs:string"/>
                                            <xs:element name="email" type="xs:string"/>
                                            <xs:element name="telefono" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="vuelo">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="origen" type="xs:string"/>
                                            <xs:element name="destino" type="xs:string"/>
                                            <xs:element name="fecha" type="xs:date"/>
                                            <xs:element name="hora_salida" type="xs:string"/>
                                            <xs:element name="hora_llegada" type="xs:string"/>
                                            <xs:element name="precio" type="xs:float"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        <xs:attribute name="id" type="xs:ID"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>