Lenguaje_de_Marcas/Ejercicios/UT_4/Ejercicios/Ejercicio_4_DTD/biblioteca.dtd

<!ELEMENT biblioteca (libro,usuario,prestamo)+>
<!ELEMENT libro (isbn,titulo,autor)>
<!ATTLIST libro cod ID #REQUIRED>
<!ELEMENT isbn (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT usuario (nombre,apellido)>
<!ATTLIST usuario matricula ID #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT prestamo (fechaIni,fechaFin)>
<!ATTLIST prestamo libro IDREF #REQUIRED>
<!ATTLIST prestamo usuario IDREF #REQUIRED>
<!ELEMENT fechaIni (#PCDATA)>
<!ELEMENT fechaFin (#PCDATA)>