Lenguaje_de_Marcas/Ejercicios/UT_4/Ejercicios/Ejercicio_4_DTD/libreria.dtd

<!ELEMENT libreria (libros,categoria)>
<!ELEMENT libros (producto)+>
<!ELEMENT producto (titulo,autor,precio,cantidad)>
<!ATTLIST producto cat IDREF #REQUIRED>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT cantidad (#PCDATA)>
<!ELEMENT categoria ANY>
<!ATTLIST categoria desc CDATA #REQUIRED>
<!ATTLIST categoria code ID #IMPLIED>
<!ATTLIST categoria nota CDATA #IMPLIED>