Lenguaje_de_Marcas/Ejercicios/UT_4/Ejercicios/Ejercicio_4_DTD/rugby.dtd

<!ELEMENT temporada (jornada)+>
<!ATTLIST temporada año NMTOKEN #REQUIRED>
<!ELEMENT jornada (partido)>
<!ATTLIST jornada numero NMTOKEN #REQUIRED>
<!ELEMENT partido (fecha,estadio,local,visitante,resultado)>
<!ATTLIST partido numero NMTOKEN #REQUIRED>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT estadio (#PCDATA)>
<!ATTLIST estadio espectadores CDATA #REQUIRED>
<!ELEMENT local (#PCDATA)>
<!ELEMENT visitante (#PCDATA)>
<!ELEMENT resultado EMPTY>
<!ATTLIST resultado local CDATA #REQUIRED>
<!ATTLIST resultado visitante CDATA #REQUIRED>