Lenguaje_de_Marcas/Ejercicios/UT_4/Ejercicios/Ejercicio_4_DTD/tarjetavisita.dtd

<!ELEMENT tarjetavisita (apellido,nombre,profesion,direccion)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT profesion (#PCDATA)>
<!ELEMENT direccion (numero,calle,codigopostal,poblacion)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT calle (#PCDATA)>
<!ELEMENT codigopostal (#PCDATA)>
<!ELEMENT poblacion (#PCDATA)>

<!ENTITY cstrb "Calle de Strasburgo">