Lenguaje_de_Marcas/Ejercicios/UT_4/Ejercicios/Ejercicio_4_DTD/ticketCompra.dtd

<!ELEMENT ticket (datos_ticket)>
<!ATTLIST ticket código ID #REQUIRED>
<!ELEMENT datos_ticket (fecha,hora,precio_total,forma_pago,cliente)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT hora (#PCDATA)>
<!ELEMENT precio_total (cantidad_sin_iva)+>
<!ATTLIST precio_total moneda CDATA "euro">
<!ELEMENT cantidad_sin_iva (#PCDATA)>
<!ELEMENT forma_pago (#PCDATA)>
<!ATTLIST forma_pago número CDATA #REQUIRED>
<!ATTLIST forma_pago tipo CDATA #IMPLIED>
<!ELEMENT cliente (#PCDATA)>